.container2 {
  background-color: #f4f5f7;
  width: 100%;
}
.section-text {
  width: 85%;
  padding-top: 2rem;
  text-align: start;
  margin: auto;
}
.section-text h2 {
  text-transform: capitalize;
  margin-bottom: 0.6rem;
  color: #091e42;
  font-size: 3rem;
}
.section-text > p {
  font-size: 1rem;
  color: #5e6c84;
}
.container_card {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-direction: row;
  margin: 5rem auto;
}

.box {
  background-color: #ffffff;
  margin: auto;
  height: 260px;
  width: 378px;
  top: 0px;
  border-radius: 16px;
  padding: 2rem 2rem 2.8rem 2rem;
  text-align: start;
}

.card-text h3 {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #091e42;
  text-transform: capitalize;
}
.card-text > p {
  font-size: 0.8rem;
  padding-top: 0.7rem;
  color: #5e6c84;
}

/* ****************Dashboard Design********************* */
.container_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: 4rem auto;
  height: fit-content;
}
/* .container_dashboard > div > img {
  box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
} */
@media screen and (max-width: 1000px) {
  .container_dashboard {
    width: 100%;
  }
  .container_card {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .section-text {
    width: 90%;
  }
  .section-text h2 {
    font-size: 2rem;
    padding-top: 2rem;
  }
  .box {
    margin: auto;
    width: 350px;
    padding: 1rem 1rem 2rem 1rem;
  }
  .container_dashboard > div {
    width: 100%;
    margin: auto;
  }
  .container_dashboard > div > img {
    width: 100%;
  }
}
