.container2 {
  background-color: #f4f5f7;
  height: 200vh;
  width: 100%;
  padding: 0rem 8rem 0rem 8rem;
}
.section-text {
  width: 80%;
  padding-top: 4rem;
  text-align: start;
  margin: auto;
}
.section-text h2 {
  text-transform: capitalize;
  margin-bottom: 0.6rem;
  color: #091e42;
  font-size: 3rem;
}
.section-text > p {
  font-size: 1rem;
  color: #5e6c84;
}
.container_card {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.box {
  background-color: #ffffff;
  margin: auto;
  height: 260px;
  width: 500px;
  top: 0px;
  border-radius: 16px;
  padding: 2rem 2rem 2.8rem 2rem;
  text-align: start;
}

@media (max-width: 1450px) {
  .container_card {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .box {
    margin: auto;
    width: 60%;
  }
}

.card-text h3 {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #091e42;
  text-transform: capitalize;
}
.card-text > p {
  font-size: 0.8rem;
  padding-top: 0.7rem;
  color: #5e6c84;
}

/* ****************Dashboard Design********************* */
.container_dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  background-color: #fafbfc;
  margin: 4rem auto;
  padding-bottom: 3rem;
  box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08);
}
.navigation-bar {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem 2rem 1.5rem 2rem;
  margin: 0;
}
.list-item {
  list-style: none;
}
.navlist-left {
  display: flex;
}
.navlist-left li {
  margin-left: 1rem;
}
.dashboard-content {
  padding-top: 4rem;
}
.button-container {
  padding-left: 4rem;
  text-align: start;
}
.line-btn {
  display: flex;
}
.search-btn img {
  padding-top: 1rem;
}
.dashboard-card {
  display: flex;
  padding: 4rem 1rem 0rem 1rem;
}
.card {
  background-color: #ffffff;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1rem;
  border-radius: 7px;
}
span {
  color: #091e42;
}
.btn-btn {
  padding-top: 0.8rem;
}
