.container3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logistics-card {
  display: flex;
  justify-content: space-around !important;
  width: 85%;
  flex-flow: row;
  padding-top: 4rem;
}
.logic-text {
  width: 40%;
  text-align: start;
  padding-top: 3rem;
}
.logic-text h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #091e42;
  padding-bottom: 1rem;
}
.content-wrapper {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
.content {
  height: 260px;
  text-align: start;
  margin-left: 3rem;
}
.card-tracker h3 {
  padding-top: 1rem;
  font-size: 1.2rem;
  color: #091e42;
  text-transform: capitalize;
}
.card-tracker > p {
  font-size: 0.8rem;
  padding-top: 0.7rem;
  color: #5e6c84;
}
.container_board {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
}
.container_board > div > img {
  height: 70vh;
  /* box-shadow: -28px 46px 60px rgba(9, 30, 66, 0.08); */
}

/* *******logo section**** */
.logo-section {
  width: 85%;
  display: flex;
  margin-top: 4rem;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  .container_board {
    width: 100%;
  }
  .container_board > div {
    width: 80%;
    margin: auto;
  }
  .container_board > div > img {
    width: 100%;
  }
  .logo-section {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-tracker > p {
    font-size: 1.2rem;
  }
  .card-text3 > p {
    font-size: 1.2rem;
  }
  .first-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .first-logo > div > img {
    width: 100%;
    padding: 0rem 2rem;
    margin: auto;
    margin-top: 1rem;
  }

  .logistics-card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .logic-text {
    width: 80%;
  }
  .content-wrapper {
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
  .content-wrapper > .content {
    width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .logo-section .first-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
  }
}
